/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav {
  /*image: url('mountain_road.jpg');*/
  background: url('mountain_road.jpg') no-repeat 0% 0%,url('mountain_range.jpg') no-repeat 50% 0%,url('corn.jpg') no-repeat 100% 0%;
  background-color: white;
  color: black;
  height: 125px;
  background-size: 33.3333% 100%;
  padding: 5px;
  font-size: 20px;
}

nav h1{
	text-align: center;
	color:black;
}

nav ul {

  width:100%;
  display: inline;
  margin:0;
  padding:5px;  
}
nav li {
  display: inline;
  border-right: 1px solid #bbb;
  list-style-type: none;
  padding:5px;
}
nav li a{
  display: inline;
  text-align: left;
  color: black  ;
}
nav li a:visited{
  color: black ;
}

.container{
	margin: 10px auto;
	padding:10px;
}

.notice{
	color: red;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:20px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.city-table{
  float: left;
  text-align: center;
  padding-right: 100px;
}
.table_holder{
  border:none; 
}
.landmark-main-image{
  width:400px;
  float: center;
  height: auto;
}
.landmark-thumbnail{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:150px; 
}
.landmark-main-page{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:200px; 
}
.image-links{
  padding-right: 40px;
  padding-left: 40px;
}
.side-block{
  display: inline-block;
}
#map{
  width:500px;
  height: 400px;
}
.inline-list ul{
  width:100%;
  display: inline;
  margin:0;
  padding:5px;

}
.inline-list li{
  display: inline;
  padding:5px;

}

